Repository Near-Web/The-Final-Nights, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cyberboss, @Fikou, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @optimumtact

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# MAINTAINERS

# Dominion/Cyberboss

/.github/workflows/update_tgs_dmapi.yml @Cyberboss
/.tgs.yml @Cyberboss
/code/world.dm @Cyberboss
/code/__DEFINES/tgs.config.dm @Cyberboss
/code/__DEFINES/tgs.dm @Cyberboss
/code/__DEFINES/_globals.dm @Cyberboss
/code/__HELPERS/chat.dm @Cyberboss
/code/__HELPERS/jatum.dm @Cyberboss
/code/game/world.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/modules/tgs/ @Cyberboss
/code/ze_genesis_call/ @Cyberboss
/tools/tgs_test/ @Cyberboss


# Fikou

/code/modules/awaymissions/ @Fikou
/code/modules/mining/ @Fikou
/code/modules/mod/ @Fikou
/code/modules/mapfluff/ruins/lavalandruin_code/ @Fikou
/code/modules/mapfluff/ruins/lavaland_ruin_code.dm @Fikou

# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/ezdb/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# This file is based off of the tgstation/tgstation github repository.
# Changes to this file do not constitute any claim of ownership of previous code written before or after the modification,
# and is solely undertaken with the purpose of instituting functional integration with Github code owners for the WoD13 repository.
# Joshua "Joan Metek" Kidder, 1/21/2025, for further information on initial code attribution please see:
# https://github.com/tgstation/tgstation

# MAINTAINERS

# Dominion/Cyberboss


# CONTRIBUTORS

# MULTIPLE OWNERS

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Mothblocks @LemonInTheDark

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @LemonInTheDark @optimumtact

Few polishing changes and guitar "balance"
  _maps/map_files/Vampire/SanFrancisco.dmm
  code/modules/wod13/melee.dm
Owners: none

forgot the roof
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

And the guitar changes are canceled
  code/modules/wod13/melee.dm
Owners: none

Few polishing touches
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

fixes meth lab timer bypass
  code/modules/wod13/structures/methlab.dm
Owners: none

trying to figure things out
  code/modules/client/preferences.dm
Owners: none

shid
  _maps/map_files/Vampire/Oakland.dmm
  code/modules/wod13/ambient.dm
Owners: none

doors fixed I think, adds areas to the FBI hideout and firewatch tower
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

I think I need to see a doctor about sleep deprivation
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

more playtest fixes
  _maps/map_files/Vampire/Oakland.dmm
  code/modules/wod13/ambient.dm
Owners: none

xfbdfhdhd
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/wod13/sounds/talk.ogg
Owners: none

courthouse
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

courthouse area in code
  code/modules/wod13/ambient.dm
Owners: none

puts the area down
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

whatever, go my shitass AI commit bot: Initial commit
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

forgor
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

npcs with their fat fucking gyatts GOD DAMN IM HARD
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

more landmarks for starts (still need to do civ landmarks and the ones I put at the north tunnel east dist
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

I feel like the clip of the guy who walks into his room, rips his shirt off, slams the door and then starts screaming while he sticks his finger in his ass
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

pencil
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/wod13/sounds/pencil.ogg
  tgstation.dme
Owners: none

steve
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

Fixes Lefthand sprite
  code/modules/wod13/lefthand.dmi
Owners: none

MAPFIX OMG
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

added colour picking to VV (#58173)
  code/__DEFINES/vv.dm
  code/__HELPERS/sanitize_values.dm
  code/modules/admin/view_variables/get_variables.dm
Owners: none

adds infinity to vv classes (#61302)
  code/__DEFINES/vv.dm
  code/modules/admin/view_variables/get_variables.dm
Owners: none

tgui: Color matrix editor (#62413)
  code/__DEFINES/vv.dm
  code/_globalvars/colorvars.dm
  code/game/atoms.dm
  code/modules/admin/view_variables/color_matrix_editor.dm
  code/modules/admin/view_variables/get_variables.dm
  icons/misc/colortest.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/ColorMatrixEditor.js
Owners: @stylemistake

Adds direct support for weakrefs to vv (#64521)
  code/__DEFINES/vv.dm
  code/datums/weakrefs.dm
  code/modules/admin/view_variables/debug_variables.dm
  code/modules/admin/view_variables/get_variables.dm
Owners: none

Fixup list helpers, remove listoflist footgun from generic list procs, remove duplicated procs. (#71280)
  code/__HELPERS/_lists.dm
  code/modules/events/brand_intelligence.dm
Owners: none

aaa
  tgui/packages/tgui/interfaces/ColorMatrixEditor.tsx
Owners: @stylemistake

error fix
  code/__HELPERS/_lists.dm
  code/__HELPERS/unsorted.dm
  code/modules/admin/view_variables/color_matrix_editor.dm
  code/modules/events/brand_intelligence.dm
Owners: none

Update _lists.dm
  code/__HELPERS/_lists.dm
Owners: none

Update _lists.dm
  code/__HELPERS/_lists.dm
Owners: none

aaaa
  code/__HELPERS/_lists.dm
  code/modules/admin/verbs/adminjump.dm
Owners: none

Always contracts lists when VVing GLOB (#76091)
  code/__DEFINES/vv.dm
  code/controllers/globals.dm
  code/modules/admin/view_variables/debug_variables.dm
Owners: @Cyberboss

Fixes display of appearance type in VV (#78725)
  code/__DEFINES/is_helpers.dm
  code/datums/datumvars.dm
  code/modules/admin/view_variables/debug_variables.dm
Owners: none

Fixes passing in list arguments in callproc (#78924)
  code/modules/admin/callproc/callproc.dm
Owners: none

VV Upgrades (#78948)
  code/__DEFINES/_helpers.dm
  code/__DEFINES/is_helpers.dm
  code/modules/admin/view_variables/debug_variables.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/admin/view_variables/view_variables.dm
Owners: none

Update vv.dm
  code/__DEFINES/vv.dm
Owners: none

Adds linking datums in asay (#65154)
  code/__DEFINES/admin.dm
  code/_globalvars/regexes.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/view_variables/view_variables.dm
Owners: none

Adds linking tickets in asay, referencing mob datums in asay, improves asay ref code (#65634)
  code/__DEFINES/admin.dm
  code/_globalvars/regexes.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/view_variables/view_variables.dm
Owners: none
