Repository Near-Web/The-Final-Nights, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cyberboss, @Fikou, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @optimumtact

Update hunter.dm
  code/modules/vtmb/jobs/hunter.dm
Owners: none

changes
  modular_tfn/modules/saysounds/code/human_say.dm
Owners: none

Refactor and relocate RP management modules
  modular_tfn/modules/aboutme/aboutme_chronicle.dm
  modular_tfn/modules/aboutme/aboutme_core.dm
  modular_tfn/modules/aboutme/aboutme_defines.dm
  modular_tfn/modules/aboutme/aboutme_export.dm
  modular_tfn/modules/aboutme/aboutme_group.dm
  modular_tfn/modules/aboutme/aboutme_memory.dm
  modular_tfn/modules/aboutme/aboutme_relationship.dm
  modular_tfn/modules/aboutme/aboutme_save.dm
  modular_tfn/modules/aboutme/aboutme_tgui.dm
  modular_tfn/modules/aboutme/aboutme_tools.dm
  modular_tfn/modules/aboutme/chronicle.dm
  modular_tfn/modules/aboutme/group.dm
  modular_tfn/modules/aboutme/group_datums.dm
  modular_tfn/modules/aboutme/memory.dm
  modular_tfn/modules/aboutme/relationships.dm
  modular_tfn/modules/aboutme/ssrpmanagement.dm
  modular_tfn/modules/aboutme/storytellertools.dm
  modular_tfn/modules/rpmanagement/group_datums.dm
  tgstation.dme
  tgui/packages/tgui-dev-server/winreg.js
Owners: @stylemistake

Revert "changes"
  modular_tfn/modules/saysounds/code/human_say.dm
Owners: none

Update shapeshift.dm
  code/modules/spells/spell_types/shapeshift.dm
Owners: none

Expand group system with tribes and canonical groups
  modular_tfn/modules/aboutme/aboutme_core.dm
  modular_tfn/modules/aboutme/group.dm
  modular_tfn/modules/aboutme/group_datums.dm
  modular_tfn/modules/aboutme/ssrpmanagement.dm
Owners: none

fix
  code/_onclick/item_attack.dm
Owners: none

modular
  code/_onclick/item_attack.dm
Owners: none

Refactor sin/virtue selection in Madrigal power
  code/modules/wod13/datums/powers/discipline/melpominee.dm
Owners: none

more work
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

fix lint issues
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

Update hunter.dm
  code/modules/vtmb/jobs/hunter.dm
Owners: none

Update role_preferences.dm
  code/__DEFINES/role_preferences.dm
Owners: none

red rooster chicken!!
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

kanye east
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

fix
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

Actually fix merge conflicts?? wtf github
  modular_tfn/modules/werewolf/werewolf_mob/werewolf.dm
Owners: none

Minor flavism fix to kick actions into gear
  modular_tfn/modules/werewolf/werewolf_species.dm
Owners: none

🐌
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

Bone heal adjustements
  code/modules/vtmb/ghoul_species.dm
  code/modules/wod13/datums/powers/discipline/bloodheal.dm
Owners: none

fixes names of pump shotgun and vendor luchador masks
  code/modules/wod13/cargo.dm
  code/modules/wod13/guns.dm
  code/modules/wod13/items/stores/clothes.dm
  code/modules/wod13/lefthand.dmi
  code/modules/wod13/onfloor.dmi
  code/modules/wod13/righthand.dmi
  code/modules/wod13/sounds/pump.ogg
  code/modules/wod13/worn.dmi
Owners: none

modularization
  code/_onclick/item_attack.dm
Owners: none

per request of chaz
  code/modules/wod13/melee.dm
Owners: none

Update hunter.dm
  code/modules/vtmb/jobs/hunter.dm
Owners: none

Update topic.dm
  code/modules/admin/topic.dm
Owners: none

Update one_click_antag.dm
  code/modules/admin/verbs/one_click_antag.dm
Owners: none

Update hunter.dm
  code/modules/vtmb/jobs/hunter.dm
Owners: none

Update hunter.dm
  code/modules/vtmb/jobs/hunter.dm
Owners: none

Update names.dm
  code/__HELPERS/names.dm
Owners: none

Update objective.dm
  code/game/gamemodes/objective.dm
Owners: @Mothblocks

Update hunter.dm
  code/modules/vtmb/jobs/hunter.dm
Owners: none

Update one_click_antag.dm
  code/modules/admin/verbs/one_click_antag.dm
Owners: none

clears ubmra
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

Update code/_onclick/item_attack.dm
  code/_onclick/item_attack.dm
Owners: none

Update code/_onclick/item_attack.dm
  code/_onclick/item_attack.dm
Owners: none

umbra
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

I missed my doctors appointment and she got mad (I was sleepy)
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

density 0 lampposts and curtains
  code/game/objects/structures/watercloset.dm
  code/modules/wod13/decor.dm
Owners: none

quick fixes before I go get my blood tested
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

TV fix
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# MAINTAINERS

# Dominion/Cyberboss

/.github/workflows/update_tgs_dmapi.yml @Cyberboss
/.tgs.yml @Cyberboss
/code/world.dm @Cyberboss
/code/__DEFINES/tgs.config.dm @Cyberboss
/code/__DEFINES/tgs.dm @Cyberboss
/code/__DEFINES/_globals.dm @Cyberboss
/code/__HELPERS/chat.dm @Cyberboss
/code/__HELPERS/jatum.dm @Cyberboss
/code/game/world.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/modules/tgs/ @Cyberboss
/code/ze_genesis_call/ @Cyberboss
/tools/tgs_test/ @Cyberboss


# Fikou

/code/modules/awaymissions/ @Fikou
/code/modules/mining/ @Fikou
/code/modules/mod/ @Fikou
/code/modules/mapfluff/ruins/lavalandruin_code/ @Fikou
/code/modules/mapfluff/ruins/lavaland_ruin_code.dm @Fikou

# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/ezdb/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# This file is based off of the tgstation/tgstation github repository.
# Changes to this file do not constitute any claim of ownership of previous code written before or after the modification,
# and is solely undertaken with the purpose of instituting functional integration with Github code owners for the WoD13 repository.
# Joshua "Joan Metek" Kidder, 1/21/2025, for further information on initial code attribution please see:
# https://github.com/tgstation/tgstation

# MAINTAINERS

# Dominion/Cyberboss


# CONTRIBUTORS

# MULTIPLE OWNERS

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Mothblocks @LemonInTheDark

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @LemonInTheDark @optimumtact
