Repository Near-Web/The-Final-Nights, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cyberboss, @Fikou, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @optimumtact

Makes the Permafangs compatibility slightly better
  code/__DEFINES/status_effects.dm
  code/game/objects/items/tools/wirecutters.dm
  code/modules/wod13/status_effects/debuffs.dm
Owners: none

Update preferences_setup.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
Owners: none

Polishes it up
  code/__DEFINES/status_effects.dm
  code/game/objects/items/tools/wirecutters.dm
  code/modules/wod13/status_effects/debuffs.dm
Owners: none

MOSQUITO ATTACK 🦟🦟🦟 DEADLY COMMIT 🦟🦟🦟🦟🦟
  _maps/_basemap.dm
  _maps/kindredcity.json
  _maps/map_files/Vampire/Oakland.dmm
  _maps/map_files/Vampire/SanFrancisco.dmm
  code/datums/map_config.dm
  code/modules/wod13/ambient.dm
  config/maps.txt
Owners: none

Update oakland.json
  _maps/oakland.json
Owners: none

subwaystation visual vix
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

Xeon's requested changes
  code/modules/mob/living/carbon/human/human.dm
  code/modules/wod13/npc.dm
  code/modules/wod13/onyxcombat/misc.dm
  modular_tfn/modules/auspex_auras/auspex_auras.dm
Owners: none

updated the 5th z level to have openspace
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

forgot to add areas sorry bomby
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

after further testing i have decided that the 5th z level canot be done due to performance reasons for now
  _maps/map_files/Vampire/Oakland.dmm
  _maps/oakland.json
Owners: none

Update world.dm
  code/game/world.dm
Owners: @Cyberboss

where were you when 5th z level was kill? I was at computer, opening strongdmm, when it say 5th z level openspace now and I say no
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

adfvsdfe
  code/modules/mob/living/carbon/human/human_say.dm
  modular_tfn/modules/saysounds/code/human_say.dm
  modular_tfn/modules/saysounds/sounds/pencil.ogg
  modular_tfn/modules/saysounds/sounds/talk.ogg
  tgstation.dme
Owners: none

gbndgfbdeftbed
  tgstation.dme
Owners: none

AAA, AAA, AAA, AAA, AAA, AAA, AAA, AAA
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

kanye west!!
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

vgncgnfgdn
  code/modules/wod13/datums/powers/discipline/thaumaturgy.dm
  tgstation.dme
Owners: none

wew
  tgui/packages/tgui-panel/audio/NowPlayingWidget.jsx
  tgui/packages/tgui-panel/audio/player.ts
Owners: @stylemistake

BARK BARK BARK ARF ARF ARF WAWAWA ARF ARF
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

Initial commit
  _maps/_basemap.dm
  code/modules/mob/living/carbon/human/human.dm
  modular_tfn/modules/rpmanagement/aboutme_chronicle.dm
  modular_tfn/modules/rpmanagement/aboutme_core.dm
  modular_tfn/modules/rpmanagement/aboutme_defines.dm
  modular_tfn/modules/rpmanagement/aboutme_export.dm
  modular_tfn/modules/rpmanagement/aboutme_group.dm
  modular_tfn/modules/rpmanagement/aboutme_memory.dm
  modular_tfn/modules/rpmanagement/aboutme_relationship.dm
  modular_tfn/modules/rpmanagement/aboutme_save.dm
  modular_tfn/modules/rpmanagement/aboutme_tgui.dm
  modular_tfn/modules/rpmanagement/aboutme_tools.dm
  modular_tfn/modules/rpmanagement/chronicle.dm
  modular_tfn/modules/rpmanagement/group.dm
  modular_tfn/modules/rpmanagement/memory.dm
  modular_tfn/modules/rpmanagement/relationships.dm
  modular_tfn/modules/rpmanagement/ssrpmanagement.dm
  modular_tfn/modules/rpmanagement/storytellertools.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/AboutmeInt.jsx
Owners: @stylemistake

😼😼😼boutta get meowschevious up in this bitch 😼😼😼
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

okay that didnt actually work and if I closed strongdmm I would have just straight up lost a whole z level 🤪🤪🤪STRONGDMM SO QUIRKY!! 🤪🤪🤪
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

Initial commit 2
  modular_tfn/modules/rpmanagement/aboutme_chronicle.dm
  modular_tfn/modules/rpmanagement/aboutme_core.dm
  modular_tfn/modules/rpmanagement/aboutme_export.dm
  modular_tfn/modules/rpmanagement/aboutme_group.dm
  modular_tfn/modules/rpmanagement/aboutme_memory.dm
  modular_tfn/modules/rpmanagement/aboutme_relationship.dm
  modular_tfn/modules/rpmanagement/aboutme_save.dm
  modular_tfn/modules/rpmanagement/aboutme_tgui.dm
  modular_tfn/modules/rpmanagement/aboutme_tools.dm
  modular_tfn/modules/rpmanagement/group.dm
  modular_tfn/modules/rpmanagement/memory.dm
  tgui/packages/tgui-bench/entrypoint.tsx
  tgui/packages/tgui-bench/tests/entrypoint.tsx
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui/interfaces/AboutmeInt.jsx
  tgui/packages/tgui/interfaces/ExaminePanel.tsx
  tgui/packages/tgui/interfaces/MarkdownViewer.tsx
  tgui/packages/tgui/interfaces/WindowsXP/functions.js
Owners: @stylemistake

Makes rage heal not stupid + fixes limping for everyone
  code/datums/wounds/_wounds.dm
  code/modules/vtmb/werewolf/gifts.dm
Owners: @Ryll-Ryll

the "Howling" gift now takes into account if you're corax.
  code/modules/vtmb/werewolf/gifts.dm
Owners: none

Update SanFrancisco.dmm
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

subway sandwich!
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

Clothing
  code/modules/wod13/items/clothes/hands.dm
  code/modules/wod13/items/clothes/head.dm
  code/modules/wod13/items/clothes/suit.dm
  code/modules/wod13/items/clothes/under.dm
Owners: none

Clothing
  code/modules/wod13/items/clothes/feet.dm
  code/modules/wod13/worn.dmi
  code/modules/wod13/worn_fat.dmi
  code/modules/wod13/worn_slim_f.dmi
  code/modules/wod13/worn_slim_m.dmi
Owners: none

removal of extra tower areas
  code/modules/wod13/ambient.dm
Owners: none

Gun
  code/modules/wod13/48x32weapons.dmi
  code/modules/wod13/clothing.dmi
  code/modules/wod13/guns.dm
  code/modules/wod13/lefthand.dmi
  code/modules/wod13/onfloor.dmi
  code/modules/wod13/righthand.dmi
Owners: none

hello xeonmations this message comes from the future you NEED to be really nice to the author of this PR or the world will crumble
  code/modules/vtmb/jobs/garou/amberglade.dm
  code/modules/vtmb/jobs/garou/poisonshore.dm
  code/modules/wod13/items/keys/keys.dm
Owners: none

how many hotdogs with buns do you think you could fit into your mouth if you werent allowed to chew? I could do two maybe
  code/modules/wod13/structures/doors/vampdoor_misc.dm
Owners: none

fix ammo in-hand
  code/modules/wod13/ammo.dmi
Owners: none

ye
  code/modules/wod13/ammo.dmi
Owners: none

hopefully this is enough blood to float prominent vampire factions but make people go and hunt
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

woe is you who look upon these wretched lands painted with the blood of better men than yourself
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

pushitu
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  modular_tfn/master_files/code/modules/client/preferences.dm
  modular_tfn/modules/saysounds/code/human_say.dm
Owners: none

I hope this fixes NPC suicide rates
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

Antag/ERT
  _maps/map_files/Vampire/SanFrancisco.dmm
  code/__DEFINES/role_preferences.dm
  code/__HELPERS/names.dm
  code/game/gamemodes/objective.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/vtmb/jobs/first_team.dm
  tgstation.dme
Owners: @Mothblocks

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# MAINTAINERS

# Dominion/Cyberboss

/.github/workflows/update_tgs_dmapi.yml @Cyberboss
/.tgs.yml @Cyberboss
/code/world.dm @Cyberboss
/code/__DEFINES/tgs.config.dm @Cyberboss
/code/__DEFINES/tgs.dm @Cyberboss
/code/__DEFINES/_globals.dm @Cyberboss
/code/__HELPERS/chat.dm @Cyberboss
/code/__HELPERS/jatum.dm @Cyberboss
/code/game/world.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/modules/tgs/ @Cyberboss
/code/ze_genesis_call/ @Cyberboss
/tools/tgs_test/ @Cyberboss


# Fikou

/code/modules/awaymissions/ @Fikou
/code/modules/mining/ @Fikou
/code/modules/mod/ @Fikou
/code/modules/mapfluff/ruins/lavalandruin_code/ @Fikou
/code/modules/mapfluff/ruins/lavaland_ruin_code.dm @Fikou

# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/ezdb/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# This file is based off of the tgstation/tgstation github repository.
# Changes to this file do not constitute any claim of ownership of previous code written before or after the modification,
# and is solely undertaken with the purpose of instituting functional integration with Github code owners for the WoD13 repository.
# Joshua "Joan Metek" Kidder, 1/21/2025, for further information on initial code attribution please see:
# https://github.com/tgstation/tgstation

# MAINTAINERS

# Dominion/Cyberboss


# CONTRIBUTORS

# MULTIPLE OWNERS

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Mothblocks @LemonInTheDark

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @LemonInTheDark @optimumtact
