Repository Near-Web/The-Final-Nights, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cyberboss, @Fikou, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @optimumtact

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# MAINTAINERS

# Dominion/Cyberboss

/.github/workflows/update_tgs_dmapi.yml @Cyberboss
/.tgs.yml @Cyberboss
/code/world.dm @Cyberboss
/code/__DEFINES/tgs.config.dm @Cyberboss
/code/__DEFINES/tgs.dm @Cyberboss
/code/__DEFINES/_globals.dm @Cyberboss
/code/__HELPERS/chat.dm @Cyberboss
/code/__HELPERS/jatum.dm @Cyberboss
/code/game/world.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/modules/tgs/ @Cyberboss
/code/ze_genesis_call/ @Cyberboss
/tools/tgs_test/ @Cyberboss


# Fikou

/code/modules/awaymissions/ @Fikou
/code/modules/mining/ @Fikou
/code/modules/mod/ @Fikou
/code/modules/mapfluff/ruins/lavalandruin_code/ @Fikou
/code/modules/mapfluff/ruins/lavaland_ruin_code.dm @Fikou

# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/ezdb/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# This file is based off of the tgstation/tgstation github repository.
# Changes to this file do not constitute any claim of ownership of previous code written before or after the modification,
# and is solely undertaken with the purpose of instituting functional integration with Github code owners for the WoD13 repository.
# Joshua "Joan Metek" Kidder, 1/21/2025, for further information on initial code attribution please see:
# https://github.com/tgstation/tgstation

# MAINTAINERS

# Dominion/Cyberboss


# CONTRIBUTORS

# MULTIPLE OWNERS

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Mothblocks @LemonInTheDark

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @LemonInTheDark @optimumtact

Pushing 60 commits
  code/modules/wod13/items.dmi
Owners: none

Revert Thaumaturgy simplemob fixes
  code/modules/wod13/datums/powers/discipline/thaumaturgy.dm
Owners: none

Update wirecutters.dm
  code/game/objects/items/tools/wirecutters.dm
Owners: none

Update master.dm
  code/controllers/master.dm
Owners: none

aaaa
  tgui/packages/tgui/interfaces/ControllerOverview/OverviewSection.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/SubsystemDialog.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/SubsystemRow.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/SubsystemViews.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/contants.ts
  tgui/packages/tgui/interfaces/ControllerOverview/filters.ts
  tgui/packages/tgui/interfaces/ControllerOverview/index.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/types.ts
Owners: @stylemistake

Controller Overview UI (#82739)
  code/controllers/master.dm
  tgui/packages/tgui/interfaces/ControllerOverview.tsx
Owners: @stylemistake

aaa
  code/__DEFINES/admin_verb.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ControllerOverview.tsx
Owners: @stylemistake

Subsystems now track their avg and last tick allocations (#64448)
  code/controllers/subsystem.dm
Owners: none

Adds rolling average usage tracking to SS overview (#85264)
  code/controllers/master.dm
  code/controllers/subsystem.dm
Owners: none

Adds Subsystem Profile Focusing (#81461)
  code/controllers/master.dm
  code/controllers/subsystem.dm
Owners: none

Update subsystem.dm
  code/controllers/subsystem.dm
Owners: none

Give Error Messages On Subsystem Initialization Failure CI (#82139)
  code/controllers/master.dm
  code/modules/unit_tests/subsystem_init.dm
Owners: @Mothblocks

Moves ui references from the tgui subsystem to datums themselves (#76215)
  code/controllers/subsystem/tgui.dm
  code/datums/datum.dm
  code/modules/tgui/external.dm
Owners: @stylemistake

aa
  code/modules/admin/verb_datums/_admin_verb_datum.dm
  tgstation.dme
Owners: none

SSprofiler performance enhancements (#48861)
  code/__DEFINES/admin_verb.dm
  code/controllers/master.dm
  code/controllers/subsystem/profiler.dm
  code/modules/admin/verb_datums/_admin_verb_datum.dm
  tgstation.dme
Owners: none

Deep sendmaps profiling (#59581)
  code/__DEFINES/_profile.dm
  code/_compile_options.dm
  code/controllers/subsystem/profiler.dm
  code/controllers/subsystem/time_track.dm
  code/modules/admin/admin_verbs.dm
Owners: none

Emergency Profile Dumps (#75924)
  code/controllers/configuration/entries/general.dm
  code/controllers/master.dm
  code/controllers/subsystem/profiler.dm
  config/config.txt
Owners: none

Saves profiler snapshots every 5 minutes (#83467)
  code/controllers/subsystem/profiler.dm
Owners: none

aaa
  code/__HELPERS/time.dm
  code/controllers/subsystem/profiler.dm
  code/controllers/subsystem/time_track.dm
  config/config.txt
Owners: none

Adds a config to change the interval profiler information gets saved (#83849)
  code/controllers/configuration/entries/general.dm
Owners: none

Update subsystem_init.dm
  code/modules/unit_tests/subsystem_init.dm
Owners: @Mothblocks

Delete _profile.dm
  code/__DEFINES/_profile.dm
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

Update MC.dm
  code/__DEFINES/MC.dm
Owners: none

wew
  code/__DEFINES/MC.dm
  code/__DEFINES/spaceman_dmm.dm
Owners: none

Update admin_verbs.dm
  code/modules/admin/admin_verbs.dm
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

Revert "Update tgstation.dme"
  tgstation.dme
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

Fuck the free stun
  code/modules/wod13/melee.dm
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

Caine
  modular_tfn/modules/loadout/loadout_general.dm
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

caine resists me
  modular_tfn/modules/loadout/loadout_general.dm
Owners: none

attempts at refactoring the damage
  code/modules/spells/spell_types/shapeshift.dm
Owners: none

fixed the math to make it actually work, and changed the example calculation to help accurately demonstrate it
  code/modules/spells/spell_types/shapeshift.dm
Owners: none

heroin!!
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

in space game, like I didnt mean the real one, please dont ban me holy shit holy fduck
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

fax fix fux
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

moves a bed
  _maps/map_files/Vampire/Oakland.dmm
Owners: none
