Repository Near-Web/The-Final-Nights, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cyberboss, @Fikou, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @optimumtact

bvfbvsfdbfsbf
  code/modules/client/preferences.dm
  modular_tfn/master_files/code/modules/client/preferences.dm
  modular_tfn/modules/saysounds/code/human_say.dm
  modular_tfn/modules/saysounds/code/preferences_toggles.dm
  tgstation.dme
Owners: none

me when she sabbat on my masq till I breach
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

SDADGS GREVGTEBATGVESTGVS
  code/modules/vtmb/jobs/garou/poisonshore.dm
Owners: none

adds sanfrancisco back again (this is temporary)
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

trvwvrtewqcvtrqecvrtegcvgfecuhbrytuinmjuytrgbertsvdyhdsgtfvg
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

candlefix
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

fix
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

he kill me pls ban he
  code/modules/mob/living/simple_animal/werewolf/werewolf.dm
Owners: none

bann
  code/modules/mob/living/simple_animal/werewolf/werewolf.dm
Owners: none

Groups!
  modular_tfn/modules/rpmanagement/aboutme_chronicle.dm
  modular_tfn/modules/rpmanagement/aboutme_core.dm
  modular_tfn/modules/rpmanagement/aboutme_defines.dm
  modular_tfn/modules/rpmanagement/aboutme_export.dm
  modular_tfn/modules/rpmanagement/aboutme_group.dm
  modular_tfn/modules/rpmanagement/aboutme_memory.dm
  modular_tfn/modules/rpmanagement/aboutme_save.dm
  modular_tfn/modules/rpmanagement/aboutme_tgui.dm
  modular_tfn/modules/rpmanagement/group.dm
  modular_tfn/modules/rpmanagement/group_datums.dm
  modular_tfn/modules/rpmanagement/ssrpmanagement.dm
  modular_tfn/modules/rpmanagement/storytellertools.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/AboutmeInt.jsx
Owners: @stylemistake

Requested changes + bugfixes
  code/modules/vtmb/werewolf/gifts.dm
Owners: none

I hate Merge conflicts
  code/modules/wod13/items.dmi
Owners: none

the banu jacket
  code/modules/vtmb/jobs/primogen.dm
  code/modules/wod13/clothing.dmi
  code/modules/wod13/items/clothes/suit.dm
  code/modules/wod13/worn.dmi
  code/modules/wod13/worn_fat.dmi
  code/modules/wod13/worn_slim_f.dmi
  code/modules/wod13/worn_slim_m.dmi
Owners: none

vbfbvfg
  modular_tfn/modules/saysounds/code/human_say.dm
  modular_tfn/modules/saysounds/code/preferences_toggles.dm
Owners: none

Update .tgs.yml
  .tgs.yml
Owners: @Cyberboss

MODULARIZATION!!!
  code/modules/vtmb/gridventory.dm
  code/modules/wod13/48x32weapons.dmi
  code/modules/wod13/clothing.dmi
  code/modules/wod13/items/clothes/feet.dm
  code/modules/wod13/items/clothes/hands.dm
  code/modules/wod13/items/clothes/head.dm
  code/modules/wod13/items/clothes/suit.dm
  code/modules/wod13/items/clothes/under.dm
  code/modules/wod13/onfloor.dmi
  code/modules/wod13/worn.dmi
  modular_tfn/modules/responseteams/code/create-antag-verb
  modular_tfn/modules/responseteams/code/names.dm
  modular_tfn/modules/responseteams/code/objective.dm
  modular_tfn/modules/responseteams/code/pentexfirstteams/code/clothes/feet.dm
  modular_tfn/modules/responseteams/code/pentexfirstteams/code/clothes/hands.dm
  modular_tfn/modules/responseteams/code/pentexfirstteams/code/clothes/head.dm
  modular_tfn/modules/responseteams/code/pentexfirstteams/code/clothes/suit.dm
  modular_tfn/modules/responseteams/code/pentexfirstteams/code/clothes/under.dm
  modular_tfn/modules/responseteams/code/pentexfirstteams/code/first_team.dm
  modular_tfn/modules/responseteams/code/pentexfirstteams/code/gun/guns.dm
  modular_tfn/modules/responseteams/code/pentexfirstteams/sprites/48x32weapons.dmi
  modular_tfn/modules/responseteams/code/pentexfirstteams/sprites/ammo.dmi
  modular_tfn/modules/responseteams/code/pentexfirstteams/sprites/clothing.dmi
  modular_tfn/modules/responseteams/code/pentexfirstteams/sprites/lefthand.dmi
  modular_tfn/modules/responseteams/code/pentexfirstteams/sprites/onfloor.dmi
  modular_tfn/modules/responseteams/code/pentexfirstteams/sprites/righthand.dmi
  modular_tfn/modules/responseteams/code/pentexfirstteams/sprites/worn.dmi
  modular_tfn/modules/responseteams/code/pentexfirstteams/sprites/worn_fat.dmi
  modular_tfn/modules/responseteams/code/pentexfirstteams/sprites/worn_slim_f.dmi
  modular_tfn/modules/responseteams/code/pentexfirstteams/sprites/worn_slim_m.dmi
  modular_tfn/modules/responseteams/code/role_preferences.dm
  modular_tfn/modules/responseteams/code/topic.dm
  tgstation.dme
Owners: none

comments
  code/__DEFINES/role_preferences.dm
Owners: none

this could've been done hours earlier but I'm lazy/a dumbass
  code/modules/wod13/clothing.dmi
  code/modules/wod13/items/clothes/suit.dm
  code/modules/wod13/worn.dmi
  code/modules/wod13/worn_fat.dmi
  code/modules/wod13/worn_slim_f.dmi
  code/modules/wod13/worn_slim_m.dmi
  modular_tfn/modules/banujacket/banujacket.dm
  modular_tfn/modules/banujacket/icons/banujacket.dmi
Owners: none

Turn werewolves back into carbons, reorganise some code, initial restoration of code
  code/__DEFINES/is_helpers.dm
  code/_onclick/hud/werewolf.dm
  code/controllers/master.dm
  code/controllers/subsystem/city_time.dm
  code/datums/keybinding/human.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/simple_animal/werewolf/life.dm
  code/modules/mob/living/simple_animal/werewolf/lupus.dm
  code/modules/mob/living/simple_animal/werewolf/status_procs.dm
  code/modules/mob/living/simple_animal/werewolf/transformation.dm
  code/modules/mob/living/simple_animal/werewolf/werewolf.dm
  code/modules/mob/living/simple_animal/werewolf/werewolf_defense.dm
  code/modules/mob/living/simple_animal/werewolf/werewolf_update_icons.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/vtmb/kuei_jin.dm
  code/modules/vtmb/werewolf/auspice.dm
  code/modules/vtmb/werewolf/gifts.dm
  code/modules/vtmb/werewolf/tribes.dm
  code/modules/vtmb/werewolf_species.dm
  code/modules/wod13/datums/powers/discipline/thaumaturgy.dm
  code/modules/wod13/emote.dm
  code/modules/wod13/onyxcombat/blocking.dm
  code/modules/wod13/onyxcombat/rage.dm
Owners: @LemonInTheDark

Make transformation to breed form after death work
  code/modules/mob/living/simple_animal/werewolf/lupus.dm
  code/modules/mob/living/simple_animal/werewolf/transformation.dm
  code/modules/mob/living/simple_animal/werewolf/werewolf.dm
Owners: none

Turn wyrm_tainted into TRUE/FALSE defines since it's boolean
  code/modules/mob/living/simple_animal/werewolf/transformation.dm
  code/modules/mob/living/simple_animal/werewolf/werewolf.dm
Owners: none

removes this bum ass shit from my fork so I can work on CI checks or whatever
  _maps/map_files/Vampire/SanFrancisco.dmm
Owners: none

UP YOUR ASS, STUPID CURTAIN ROD
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

holy shit there was a snake in my variables!! lucky I got it out god I hope there arent any more snakes in here
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

holy shit there was a second snake!!
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

oh my god theres a fucking fire on the plane that was just infested with snakes!!
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

mini fixes
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/wod13/items/clothes/feet.dm
Owners: none

TFN ADDITION
  code/__DEFINES/role_preferences.dm
Owners: none

ticked
  tgstation.dme
Owners: none

Reduce rage/gnosis gain and loss volume
  code/modules/vtmb/werewolf_species.dm
Owners: none

more comments
  code/__HELPERS/names.dm
  modular_tfn/modules/responseteams/code/objective.dm
Owners: none

Make organs and organ damage carry over between transformations
  code/modules/mob/living/simple_animal/werewolf/transformation.dm
  code/modules/mob/living/simple_animal/werewolf/werewolf.dm
Owners: none

Fix oversight that made werewolf_armor not do anything
  code/modules/mob/living/simple_animal/werewolf/werewolf_defense.dm
Owners: none

Give Lupus one hand (their mouth)
  code/modules/mob/living/simple_animal/werewolf/lupus.dm
Owners: none

Make werewolves properly interact with items
  code/game/objects/items.dm
  code/modules/mob/living/simple_animal/werewolf/lupus.dm
  code/modules/mob/living/simple_animal/werewolf/werewolf.dm
  code/modules/mob/living/simple_animal/werewolf/werewolf_interactions.dm
  tgstation.dme
Owners: none

Move werewolves to a modular_tfn module
  modular_tfn/modules/werewolf/life.dm
  modular_tfn/modules/werewolf/lupus.dm
  modular_tfn/modules/werewolf/status_procs.dm
  modular_tfn/modules/werewolf/transformation.dm
  modular_tfn/modules/werewolf/werewolf.dm
  modular_tfn/modules/werewolf/werewolf_defense.dm
  modular_tfn/modules/werewolf/werewolf_interactions.dm
  modular_tfn/modules/werewolf/werewolf_update_icons.dm
  tgstation.dme
Owners: none

Create wta_defines, move life() override to master_files
  code/__DEFINES/tfn/wta_defines.dm
  modular_tfn/master_files/code/modules/mob/living/life.dm
  modular_tfn/modules/werewolf/life.dm
  tgstation.dme
Owners: none

icon fix + keep up with armoured jackets
  modular_tfn/modules/banujacket/banujacket.dm
  modular_tfn/modules/banujacket/icons/banujacket.dmi
Owners: none

Make reputation examine text visible for non-Homid forms
  modular_tfn/modules/werewolf/examine.dm
  modular_tfn/modules/werewolf/transformation.dm
  tgstation.dme
Owners: none

Unfuck organs (how did that happen?)
  code/modules/surgery/organs/organ_internal.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# MAINTAINERS

# Dominion/Cyberboss

/.github/workflows/update_tgs_dmapi.yml @Cyberboss
/.tgs.yml @Cyberboss
/code/world.dm @Cyberboss
/code/__DEFINES/tgs.config.dm @Cyberboss
/code/__DEFINES/tgs.dm @Cyberboss
/code/__DEFINES/_globals.dm @Cyberboss
/code/__HELPERS/chat.dm @Cyberboss
/code/__HELPERS/jatum.dm @Cyberboss
/code/game/world.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/modules/tgs/ @Cyberboss
/code/ze_genesis_call/ @Cyberboss
/tools/tgs_test/ @Cyberboss


# Fikou

/code/modules/awaymissions/ @Fikou
/code/modules/mining/ @Fikou
/code/modules/mod/ @Fikou
/code/modules/mapfluff/ruins/lavalandruin_code/ @Fikou
/code/modules/mapfluff/ruins/lavaland_ruin_code.dm @Fikou

# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/ezdb/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# This file is based off of the tgstation/tgstation github repository.
# Changes to this file do not constitute any claim of ownership of previous code written before or after the modification,
# and is solely undertaken with the purpose of instituting functional integration with Github code owners for the WoD13 repository.
# Joshua "Joan Metek" Kidder, 1/21/2025, for further information on initial code attribution please see:
# https://github.com/tgstation/tgstation

# MAINTAINERS

# Dominion/Cyberboss


# CONTRIBUTORS

# MULTIPLE OWNERS

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Mothblocks @LemonInTheDark

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @LemonInTheDark @optimumtact
