Repository Near-Web/The-Final-Nights, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cyberboss, @Fikou, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @optimumtact

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# MAINTAINERS

# Dominion/Cyberboss

/.github/workflows/update_tgs_dmapi.yml @Cyberboss
/.tgs.yml @Cyberboss
/code/world.dm @Cyberboss
/code/__DEFINES/tgs.config.dm @Cyberboss
/code/__DEFINES/tgs.dm @Cyberboss
/code/__DEFINES/_globals.dm @Cyberboss
/code/__HELPERS/chat.dm @Cyberboss
/code/__HELPERS/jatum.dm @Cyberboss
/code/game/world.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/modules/tgs/ @Cyberboss
/code/ze_genesis_call/ @Cyberboss
/tools/tgs_test/ @Cyberboss


# Fikou

/code/modules/awaymissions/ @Fikou
/code/modules/mining/ @Fikou
/code/modules/mod/ @Fikou
/code/modules/mapfluff/ruins/lavalandruin_code/ @Fikou
/code/modules/mapfluff/ruins/lavaland_ruin_code.dm @Fikou

# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/ezdb/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# This file is based off of the tgstation/tgstation github repository.
# Changes to this file do not constitute any claim of ownership of previous code written before or after the modification,
# and is solely undertaken with the purpose of instituting functional integration with Github code owners for the WoD13 repository.
# Joshua "Joan Metek" Kidder, 1/21/2025, for further information on initial code attribution please see:
# https://github.com/tgstation/tgstation

# MAINTAINERS

# Dominion/Cyberboss


# CONTRIBUTORS

# MULTIPLE OWNERS

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Mothblocks @LemonInTheDark

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @LemonInTheDark @optimumtact

fixing lints or whatever
  _maps/map_files/Vampire/Oakland.dmm
Owners: none

Add form and breed defines
  code/__DEFINES/tfn/wta_defines.dm
Owners: none

Make reverting to breed form on death work properly and include corax, replace direct breed and form names with defines
  code/_onclick/hud/werewolf.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/vtmb/werewolf/auspice.dm
  code/modules/vtmb/werewolf_species.dm
  modular_tfn/master_files/code/modules/mob/living/life.dm
  modular_tfn/modules/werewolf/transformation.dm
  modular_tfn/modules/werewolf/werewolf.dm
Owners: @LemonInTheDark

Add set_breed documentation
  code/modules/vtmb/werewolf/auspice.dm
Owners: none

Bring the rest of the garou files into modular_tfn, reorganise the werewolf module
  modular_tfn/modules/werewolf/_tribes.dm
  modular_tfn/modules/werewolf/auspice.dm
  modular_tfn/modules/werewolf/gifts.dm
  modular_tfn/modules/werewolf/glyphs.dm
  modular_tfn/modules/werewolf/totems.dm
  modular_tfn/modules/werewolf/tribes.dm
  modular_tfn/modules/werewolf/werewolf_mob/examine.dm
  modular_tfn/modules/werewolf/werewolf_mob/life.dm
  modular_tfn/modules/werewolf/werewolf_mob/lupus.dm
  modular_tfn/modules/werewolf/werewolf_mob/status_procs.dm
  modular_tfn/modules/werewolf/werewolf_mob/transformation.dm
  modular_tfn/modules/werewolf/werewolf_mob/werewolf.dm
  modular_tfn/modules/werewolf/werewolf_mob/werewolf_defense.dm
  modular_tfn/modules/werewolf/werewolf_mob/werewolf_interactions.dm
  modular_tfn/modules/werewolf/werewolf_mob/werewolf_update_icons.dm
  tgstation.dme
Owners: none

Add missed werewolf_species.dm file to the werewolf module
  modular_tfn/modules/werewolf/werewolf_species.dm
  tgstation.dme
Owners: none

fix runtime
  code/__byond_version_compat.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doppler_array.dm
  code/game/machinery/wod13/washing_machine.dm
  code/game/objects/items/RCD.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/mop.dm
  code/game/objects/items/teleportation.dm
  code/game/objects/structures/ladders.dm
  code/game/objects/structures/transit_tubes/transit_tube_construction.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/recycling/disposal/construction.dm
  code/modules/unit_tests/connect_loc.dm
  code/modules/vehicles/cars/clowncar.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vending/_vending.dm
  code/modules/vtmb/jobs/sabbatpriest.dm
  code/modules/wod13/datums/powers/discipline/thaumaturgy.dm
Owners: @Mothblocks

Update spaceman_dmm.dm
  code/__DEFINES/spaceman_dmm.dm
Owners: none

Move auxtools procs to auxtools file (#74240)
  code/__DEFINES/spaceman_dmm.dm
  code/__HELPERS/_auxtools_api.dm
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

The Failsafe can now recover from an deleted MC (#60846)
  code/__DEFINES/spaceman_dmm.dm
  code/_debugger.dm
  code/controllers/failsafe.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/assets.dm
  code/controllers/subsystem/economy.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/shuttle.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/timer.dm
  code/game/world.dm
  code/modules/tgchat/to_chat.dm
  tgstation.dme
Owners: @ninjanomnom, @Cyberboss, @stylemistake

aaa
  code/__DEFINES/configuration.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/master.dm
Owners: none

Properly fix postpones in the mc. (#59813)
  code/controllers/subsystem.dm
  code/modules/admin/view_variables/reference_tracking.dm
Owners: none

aaa
  code/__DEFINES/_tick.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/master.dm
Owners: none

Adds MC initialization stages. Earlier stages can fire while later ones init. Fixes tgui chat reconnection banner showing during init. (#66473)
  code/__DEFINES/_tick.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/master.dm
  code/controllers/subsystem/dbcore.dm
  code/controllers/subsystem/init_profiler.dm
  code/modules/tgchat/to_chat.dm
Owners: @stylemistake

Fix gender changing upon shifting forms
  modular_tfn/modules/werewolf/werewolf_mob/transformation.dm
Owners: none

aaa
  code/controllers/master.dm
  code/controllers/subsystem/init_profiler.dm
Owners: none

aaa
  code/__HELPERS/cmp.dm
  code/__HELPERS/sorts/InsertSort.dm
  code/__HELPERS/sorts/MergeSort.dm
  code/__HELPERS/sorts/TimSort.dm
  code/__HELPERS/sorts/helpers.dm
  code/__HELPERS/sorts/sort_instance.dm
  code/game/world.dm
  tgstation.dme
Owners: @Cyberboss

Code cleanup: Sorting (#83017)
  code/datums/datum.dm
  code/modules/admin/verbs/debug.dm
  code/modules/antagonists/pirate/pirate.dm
  code/modules/antagonists/traitor/equipment/module_picker.dm
  code/modules/research/stock_parts.dm
Owners: none

Makes SSTimer actually recover (#64784)
  code/controllers/master.dm
  code/controllers/subsystem/timer.dm
Owners: none

Port: fixes of SStimer subsystem from RU SS220 Paradise (#59718)
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/timer.dm
Owners: none

Makes timer subsystems available as a new subsystem type (#59073)
  code/__DEFINES/MC.dm
  code/controllers/subsystem/sound_loops.dm
  code/controllers/subsystem/timer.dm
  code/datums/looping_sounds/_looping_sound.dm
  tgstation.dme
Owners: none

Update subsystems.dm
  code/__DEFINES/subsystems.dm
Owners: none

Fix: timers not removing from second queue on init (#64138)
  code/controllers/subsystem/timer.dm
Owners: none

Update master.dm
  code/controllers/master.dm
Owners: none

The mc now detects if its priority budget gets out of sync with reality and soft resets. (#64498)
  code/controllers/master.dm
Owners: none

Saves on average 10 seconds from roundstart times (#71730)
  code/controllers/master.dm
Owners: none

wew
  code/_debugger.dm
  code/controllers/subsystem/research.dm
  code/game/objects/structures/statues.dm
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

Update research.dm
  code/controllers/subsystem/research.dm
Owners: none

aaa
  code/controllers/configuration/entries/general.dm
  code/modules/logging/categories/log_category_target_zone_switch.dm
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

Update all_nodes.dm
  code/modules/research/techweb/all_nodes.dm
Owners: none

Update npc.dm
  code/modules/wod13/npc.dm
Owners: none

Add defines for byond-tracy support (#70931)
  .gitignore
  code/_compile_options.dm
  code/game/world.dm
Owners: @Cyberboss

More Tracy gitignores (#72087)
  .gitignore
Owners: none

Update world.dm
  code/game/world.dm
Owners: @Cyberboss

Update code/modules/vtmb/jobs/hunter.dm
  code/modules/vtmb/jobs/hunter.dm
Owners: none

xfbsbsfbbsvsfvds
  code/__DEFINES/footsteps.dm
  code/datums/components/footstep.dm
  modular_tfn/modules/catwalk_footstep_overrides/code/footstep_override.dm
  modular_tfn/modules/catwalk_footstep_overrides/code/lattice.dm
  tgstation.dme
Owners: @ninjanomnom

comment
  code/datums/components/footstep.dm
Owners: @ninjanomnom
